
aside img{
    width: 110px;
}

.subtitle {
    color: #4a4a4a; 
    font-size: 1.25rem; 
    font-weight: 400; 
    line-height: 1.25; 
}

.title-link a{
    font-size: 1.25rem;
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}
